img {
    border-radius: 10px;
    width: 320px;
}
  
.select-input {
    width: 108px; 
    margin-bottom: 8px;
}
  
.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
  
.detail-item {
    margin-left: 128px;
    margin-right: 128px;
}
  
a {
    text-decoration: none;
}

button {
    width: 118px;
    background: rgb(0, 132, 255);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}